body {
}

header {
  background-color: green;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid greenyellow;
}

.div-buttons {
  display: flex;
  justify-content: center;
}

.buttons {
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  border: 1px solid rgb(79, 204, 232);
  font-size: 100%;
  margin: 1%;
  background-color: rgb(23, 82, 105);
}

.email-content {
  background-color: green;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  margin: auto;
  margin-top: 15px;
  
}
.emails {
  background-color: rgba(127, 255, 212, 0.205);
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 10px;
  border-radius: 10px;
  align-items: center;
}

h4 {
  width: 80%;
}

.unread {
  background-color: rgba(107, 107, 107, 0.596);
  border: 1px solid rgba(255, 255, 0, 0.527);
}